@font-face {
	font-family: 'Raleway';
	src: url("fonts/Raleway-Regular.ttf");
}

@font-face {
	font-family: 'Raleway';
	src: url("fonts/Raleway-Bold.ttf");
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

ul {
	list-style-type: none;
}

a{
	text-decoration: none;
	color: inherit;
}

.main-container {
	display: flex;
	height: 100%;
}

.header {
	background: url("img/WK-SHQ.jpg");
	/*background: url("img/WK-H.jpg");*/
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	color: #fff;
}

.intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.intro h1 {
	font-size: 450%;
	margin-bottom: 10px;
}

.intro p {
	font-size: 110%;
	margin-bottom: 40px;
}

.intro button {
	padding: 10px;
	background-color: transparent;
	font-size: 100%;
	color: #fff;
	border: 2px #fff solid;
	transition: background-color 0.5s, color 0.5s;
	cursor: pointer;
}

.intro button:hover {
	background-color: #fff;
	color: #000;
}

.social-media {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%, -5%); 
}

.social-media i {
	color: #fff;
	margin-right: 10px;
	font-size: 120%;
	/*padding: 5px;*/
	cursor: pointer;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	text-align: center;
	line-height: 40px;
	transition: all 0.6s;
	border-radius: 50%;
	/*border: 2px #fff solid;*/
}

.social-media i:hover {
	background-color: #FFF;
	color: #000;
}

/* SIDEBAR */

.sidebar {
	display: flex;
	flex-direction: column;
	width: 270px;
	/*border-right: 3px #000 solid;*/
	font-size: 0.95rem;
	height: 100%;
	box-sizing: border-box;
	/*background-color: #f9f9f9;*/
	/*background-color: #7a7a7a;*/
	/*color: #FFF;*/
	background-color: #FFF;
	/*box-shadow: 3px 0 5px -1px #000;*/
}

.logo {
	margin-bottom: 100px;
	font-weight: 700;
}

.sidebar .logo, .sidebar ul li {
	padding: 15px;
	cursor: pointer;
}

.sidebar ul {
	color: #999;
}

.nav-option li:first-child:hover .portfolio-dropdown{
	max-height: 135px;
	/*display: block;*/
}

.portfolio-dropdown {
	/*margin-left: 20px;*/
	/*display: none;*/
	/*border: solid black 3px;*/
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.7s;
}

.sidebar li:hover {
	color: #000;
	font-weight: 700;
}

/* PORTFOLIO */

/* IMG SLIDE */

.img-slide {
	position: relative;
	width: 100%;
	height: 100%;
	/*background-color: #f9f9f9;*/
}

.fake-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	/*background:  url("https://instagram.fsnc1-1.fna.fbcdn.net/vp/ac94d62487781ceb26a1581863ea50b0/5C0CF4C8/t51.2885-15/e35/37750617_2437303776495976_5040474177207795712_n.jpg");*/
	/*background: url(https://instagram.fsnc1-1.fna.fbcdn.net/vp/eb17c49a6047d2b86b3ed0507e8d7e39/5BF6ADA3/t51.2885-15/e35/37384188_501602626957905_2061976857795887104_n.jpg);*/
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	filter: blur(7px) grayscale(70%);
}

.random-image {
	max-width: 50%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: #636363 3px 3px 10px;
}

.stories-header {
	text-align: center;
	margin-top: 8%;
}

.stories {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.story {
	width: 30%;
	height: auto;
	background-color: #303030;
	position: relative;
}

.story h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	color: #ffffff;
	transition: opacity 0.8s;
	text-align: center;
}

.story img {
	max-width: 100%;
	transition: all 0.8s;
}

.story:hover img{
	opacity: 0.2;
}

.story:hover h2 {
	opacity: 1;
}

/* MOBILE */

.mobile-nav {
	display: none;
	height: 70px;
	width: 100%;
	/*background-color: #7a7a7a;*/
	border-bottom: #e0e0e0 solid 2px;
	color: #595959;
	text-align: center;
	font-size: 0.9rem;
	line-height: 70px;
	position: relative;
}

.burger {
	width: 80px;
	height: 70px;
	border-left: #e0e0e0 solid 2px;
	position: absolute;
	top: 0;
	right: 0;
}

.burger-line {
	width: 40%;
	height: 4px;
	background-color: #9e9c9c;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.burger div:nth-child(1) {
	top: 40%;
}

.burger div:nth-child(3) {
	top: 60%;
}

@media (max-width: 800px) {
	.sidebar {
		display: none;
	}

	.random-image {
		max-width: 90%;
	}

	.mobile-nav {
		display: block;
	}

	.main-container {
		flex-direction: column;
	}

	.stories-header {
		margin-bottom: 20px;
	}

	.stories {
		top: auto;
		transform: translate(-50%, 0);
		flex-wrap: wrap;
	}

	.story {
		width: 90%;
		margin-bottom: 20px;
	}

	.story img {
		opacity: 0.2;
	}

	.story h2 {
		opacity: 1;
	}
}

/* LIFE STORIES */

.stories-col {
	width: 30%;
	display: inline-block;
	margin-right: 5px;
}

.stories-col img {
	max-width: 100%;
	/*margin-bottom: 5px;*/
}


