* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

.header {
	background: url("img/WK-SHQ.jpg");
	/*background: url("img/WK-H.jpg");*/
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	color: #fff;
}

.intro {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.intro h1 {
	font-size: 450%;
	margin-bottom: 10px;
}

.intro p {
	font-size: 110%;
	margin-bottom: 40px;
}

.intro button {
	padding: 10px;
	background-color: transparent;
	font-size: 100%;
	color: #fff;
	border: 2px #fff solid;
	transition: background-color 0.5s, color 0.5s;
	cursor: pointer;
}

.intro button:hover {
	background-color: #fff;
	color: #000;
}

.social-media {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translate(-50%, -5%); 
}

.social-media i {
	color: #fff;
	margin-right: 10px;
	font-size: 120%;
	padding: 5px;
	cursor: pointer;
	/*border: 2px #fff solid;*/
}